/* Variables */
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-greylight: #C5C5C5;
  --basic-greydark: #A9A9A9;
  --basic-border-card: #EAEAEA;

  --basic-red: #EE3643;
  --error: #BA2732;

  --basic-header-bg: #F9F5F0;

  /* button */
  --button-hover: #CA2C37;
  --button-active: #BA2732;

  --basic-green: #63A63E;
  --success: #5FBB2D;

  --basic-bg: #F1F5F7;

  /* NAV */
  --basic-nav-bg: #32425C;
  --basic-add-nav-bg: #293449;
  --basic-nav-active: #1D2739;

  --basic-add-nav-btn-active: #161D29;

  /* feachures */
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
}


/* TECHNICAL */
.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.center {
  margin: 0 auto;
  width: 940px;
}

/*убирает Х у поиска */
/* .input-search[type=text]::-ms-clear {display: none; width : 0; height: 0;}
.input-search[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
.input-search[type="search"]::-webkit-search-decoration,
.input-search[type="search"]::-webkit-search-cancel-button,
.input-search[type="search"]::-webkit-search-results-button,
.input-search[type="search"]::-webkit-search-results-decoration {display: none;} */

/* /TECHNICAL */


/* GLOBAL */
body {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  min-width: 940px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

.button {
  display : flex;
  align-items : center;
  justify-content: center;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  height: 38px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

.new {
  display: flex;
  align-items : center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 30px;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
}
/* /GLOBAL */


/* GRID */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.add-nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.add-list {
  display: flex;
}

.header-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.feachures-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 20px;
}

.feachures-slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.content-top-list,
.logos-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
/* /GRID */


/* HEADER */
.main-header {
  font-family: Cuprum, Arial, sans-serif;
  font-style: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-bg);
}

/* NAV */
.main-nav {
  color: var(--basic-white);
  background-color: var(--basic-nav-bg);
  box-shadow: inset 0px -5px 0px var(--basic-add-nav-bg);
  margin-bottom: 60px;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items : center;
  justify-content: center;
}

.site-nav a {
  display: block;
  color: var(--basic-white);
  padding: 16px 24px 20px 27px;
}

.site-nav a:hover {
  background-color: var(--basic-add-nav-bg);
}

.site-nav a:active {
  background-color: var(--basic-add-nav-btn-active);
  opacity: 0.5;
}

/* ADD-NAV */
.add-nav {
  color: var(--basic-white);
  background-color: var(--basic-add-nav-bg);
  height: 42px;
}

.add-nav-bg {
  background-color: var(--basic-add-nav-bg);
}

.main-header-logo {
  display : flex;
  align-items : center;
  justify-content: center;
  width: 220px;
  height: 42px;
  padding-bottom: 5px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
  background-color: var(--error);
}

/* SEACH */
.input-search {
  color: var(--basic-white);
  height: 42px;
  border: 0;
  background: url("../img/icons/icon-search.svg") no-repeat 17px 12px;
  padding-top: 3px;
  padding-left: 42px;
  width: 100%;
}

.input-search::placeholder {
  color: var(--basic-white);
}

.input-search:hover {
  background: url("../img/icons/icon-search.svg") no-repeat 17px -47px;
}

.input-search:focus {
  background: url("../img/icons/icon-search.svg") no-repeat 17px -106px var(--basic-white);
  color: var(--basic-black);
}

.input-search::selection {
  border: 0;
  border-radius: 0;
}

/* BASKET BAR */
.add-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bookmarks-link,
.basket-link,
.checkout-link {
  color: var(--basic-white);
  display : block;
}

.bookmarks-link {
  width: 83px;
  height: 24px;
  padding: 10px 24px 8px 43px;
  background: url("../img/icons/icon-bookmark.svg") no-repeat 20px 13px;
}

.bookmarks-link:hover {
  background: url("../img/icons/icon-bookmark.svg") no-repeat 20px -45px;
}

.bookmarks-link:active {
  background: url("../img/icons/icon-bookmark.svg") no-repeat 20px 13px var(--basic-add-nav-btn-active);
  opacity: 0.5;
}

.basket-link {
  width: 75px;
  height: 24px;
  padding: 10px 26px 8px 49px;
  background: url("../img/icons/icon-basket.svg") no-repeat 26px 13px;
}

.basket-link:hover {
  background: url("../img/icons/icon-basket.svg") no-repeat 26px -44px;
}

.basket-link:active {
  background: url("../img/icons/icon-basket.svg") no-repeat 26px 13px var(--basic-add-nav-btn-active);
  opacity: 0.5;
}

.checkout-link {
  width: 115px;
  height: 24px;
  padding: 10px 16px 8px 19px;
  background-color: var(--basic-green);
}

.checkout-link:hover {
  background-color: var(--success);
}

.checkout-link:active {
  background-color: var(--basic-green);
  opacity: 0.5;
}
/* /ADD-NAV */

/* CONTAINER */
.header-container {
  font-family: Cuprum, Arial, sans-serif;
  margin: 43px auto 40px auto;
}

.header-text {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  width: 197px;
  height: 71;
  color: var(--basic-red);
  padding: 0 30px;
}

.header-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  width: 270px;
  margin: 0 auto;
}

.contacts-phone {
  display: block;
  border: 3px solid var(--basic-white);
  width: 146px;
  height: 30px;
  background: url("../img/icons/icon-phone.svg") no-repeat 36px 10px transparent;
  padding: 4px 47px 5px 71px;
  color: var(--basic-red);
}

.header-contact-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 3px;
  color: var(--basic-nav-bg);
}

.header-login {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login-link {
  display: block;
  width: 49px;
  height: 21px;
  color: var(--basic-black);
  background: url("../img/icons/icon-login.svg") no-repeat 19px 14px var(--basic-white);
  padding: 12px 27px 12px 45px;
}

.login-list a:hover {
  color: var(--basic-red);
}

.login-list a:focus {
  color: var(--basic-greylight);
  opacity: 0.5;
}

.registration-link {
  display: block;
  width: 102px;
  height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 12px 24px 12px 24px;
  margin-left: 10px;
}

.registration-link:hover {
  color: var(--basic-red);
  background-color: var(--basic-white);
}

.registration-link:active {
  color: var(--basic-greylight);
  background-color: var(--basic-white);
}

.login-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* /HEADER */


/* MAIN */

/* feachures */

.feachures-list {
  color: var(--basic-white);
  list-style: none;
  padding: 0;
  margin: 60px 0;
}

.feachures-header {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 21px 0 0 23px;
}

.feachures-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 123px;
}

.feachures-button {
  display : flex;
  align-items : center;
  justify-content: center;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  width: 135px;
  height: 38px;
  margin: 13px 23px;
}

.feachures-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.feachures-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.feachures-item:first-of-type {
  background: url("../img/icons/feachures.svg") no-repeat 196px 31px var(--special-ylellow);
}

.feachures-item:nth-of-type(2) {
  background: url("../img/icons/feachures.svg") no-repeat 192px -154px var(--special-blue);
}

.feachures-item:nth-of-type(3) {
  background: url("../img/icons/feachures.svg") no-repeat 191px -341px var(--special-lilac);
}

.feachures-item:nth-last-of-type(2) {
  background: url("../img/icons/feachures.svg") no-repeat 187px -531px var(--special-greenlight);
}

.feachures-item:last-of-type {
  background: url("../img/icons/feachures.svg") no-repeat 191px -720px var(--special-ylellow);
}

.feachures .new {
  margin: -107px 0px 0px 226px;
}

/* feachures-slider */

.feachures-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feachures-slider figure {
  padding: 0;
  margin: 0;
}

.feachures-slider {
  width: 620px;
  height: 266px;
}

.feachures-slider-header {
  position: absolute;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 23px 0 0 24px;
}

.feachures-slider p {
  position: absolute;
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 65px 24px;
  color: var(--basic-white);
}

.feachures-slider .button {
  width: 192px;
  margin-top: 137px;
}



.feachures-slider-control {
  position: absolute;
}

.slider-button-next,
.slider-button-back {
  position: absolute;
  width: 22px;
  height: 40px;
  border: 0;
  background: url(/img/icons/icon-left.svg) no-repeat;
}

.slider-button-next {
  transform: scale(-1);
}

.feachures-slider-pagination {
  list-style: none;
  position: absolute;
  display: flex;
}

.slider-pagination-selected {
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-white);
  margin-left: 20px;
}

.slider-pagination,
.slider-pagination-selected {
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-white);
}

.slider-pagination-selected {
  background-color: var(--basic-red);
}


/* content-top */

.content-grid {
  width: 940px;
  height: 89px;
  background-color: var(--basic-header-bg);
}

.content-header {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-greyblue);
  text-transform: uppercase;
  margin: auto 28px ;
}

.content-top .button {
  width: 192px;
  vertical-align: middle;
  margin: auto 14px;
}

/* CARD */

.content-top-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 70px;
}

.content-item {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  width: 220px;
  height: 318px;
  border: 1px solid var(--basic-border-card);
  overflow: hidden;
  background-color: var(--basic-white);
  text-align: center;
  box-sizing: border-box;
}


.content-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.content-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.content-oldprice {
  color: var(--basic-greydark);
  text-decoration: line-through;
}

.content-price {
  color: var(--basic-white);
  background: url(/img/icons/price.svg) no-repeat;
  width: 141px;
  height: 38px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items : center;
  margin: 0 auto;
}

.content-top .new {
  vertical-align: bottom;
  margin: -243px 0px 0px 144px;
}


/* HIDDEN BUTTONS */


.hidden-buttons {
  display: none;
  position: absolute;
  width: 218px;
  height: 316px;
}

.content-item:hover .hidden-buttons {
  display: block;
  position: absolute;
  width: 218px;
  height: 170px;
  background-color: var(--basic-white);
}

.hidden-buttons {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.button-buy {
  display: block;
  width: 42px;
  height: 18px;
  color: var(--basic-white);
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 #367315;
  background: url(/img/icons/basket.svg) no-repeat 30px 10px var(--basic-green);
  padding: 10px 40px 10px 53px;
  margin: 37px 40px;
}

.button-buy:hover {
  background-color: var(--success);
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmarks {
  display: block;
  width: 68px;
  height: 18px;
  padding: 8px 31px 6px 30px;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  color: var(--basic-greyblue);
  margin: -27px 40px;
}

.button-bookmarks:hover {
  border-color: var(--basic-nav-bg);
}

.button-bookmarks:active {
  opacity: 0.5;
}

/* content-logos-top */

.logos-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 70px;
}

.content-logos-top .button {
  width: 192px;
  vertical-align: middle;
  margin: auto 14px;
}

.content-logos-top li {
  width: 218px;
  height: 143px;
  border: 1px solid #EAEAEA;
}

.logo-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.logo-item:active {
  opacity: 0.5;
}

/* /MAIN */
